@import "../../styles/colors.scss";

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    background-color: $backgroundColor;

    .login__title,
    .login__welcome-message {
        font-size: 24px;
        font-weight: bold;
        color: $primaryColor;
        margin-bottom: 10px;
    }
    
    .login__welcome-message {
        font-size: 18px;
        color: $secondaryColor;
    }

    .login__title-and-logo > img {
        width: 48px;
        height: 48px;
    }

    .login__title-and-logo,
    .login__form {
        text-align: center;
        margin-bottom: 30px;
    }

    .login__input {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
    }

    .login__input > Label {
        text-align: left;
        width: 100%;
    }

    .login__error-message {
        color: red;
        font-size: 12px;
        margin-top: 5px;
        width: 100%;
        text-align: left;
    }

    .login__remember-forgot-box {
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .login__remember {
            display: flex;
            align-items: center;
        }

        .login__remember > Label {
            font-size: 15px;
            font-weight: bold;
        }
    }

    .login__forgot-link {
        color: $primaryColor;
        text-decoration: none;
        font-size: 15px;
        font-weight: bold;
    }

    .login__forgot-link:hover {
        text-decoration: underline;
    }

    .login__form form {
        width: 350px;
        padding: 20px;
        border-radius: 5px;
        background-color: #fff;
    }

    .login__google-button {
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: black;
        border-radius: 5px;
        padding: 10px 20px;
        font-size: 16px;
        margin-top: 20px;
        width: 100%;
        border: 1px solid #ccc;
    }

    .login__signup-box {
        font-size: 14px;
        margin-top: 20px;
        text-align: center;

        .login__signup-button {
            text-decoration: none;
            color: $primaryColor;
            margin-left: 5px;
            font-weight: bold;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}



