@import "../../styles/colors.scss";

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    background-color: $backgroundColor;


    .login__title-and-logo > img {
        width: 48px;
        height: 48px;
    }

    .login__title-and-logo,
    .login__form {
        text-align: center;
        margin-bottom: 30px;
    }

    .login__input {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        gap: 3px;
    }

    .login__remember-forgot-box {
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .login__remember {
            display: flex;
            align-items: center;
        }
    }

    .login__form form {
        width: 350px;
        padding: 20px;
        border-radius: 5px;
        background-color: #fff;
    }

    .login__signup-box {
        font-size: 14px;
        margin-top: 20px;
        text-align: center;
    }
}



