@import "../../styles/colors.scss";

.Button {
    &.primary-button {
        margin-top: 20px;
        background-color: $primaryColor;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
        width: 100%;
        
        &:hover {
            background-color: $primaryHoverColor;
        }
    }
}