@import "../../styles/colors.scss";

.typography {
    &.default {
        font-size: 14px;
        margin-top: 20px;
    }

    &.h1 {
        font-size: 30px;
        font-weight: bold;
        color: $primaryColor;
        margin-bottom: 10px;
    }

    &.h2 {
        font-size: 16px;
        color: $secondaryColor;
    }

    &.error-message {
        color: red;
        font-size: 12px;
        margin-top: 5px;
        text-align: left;
    }

    &.success-message {
        color: green;
        font-size: 16px;
        margin-top: 10px;
    }
}