@import "../../styles/colors.scss";

.signup__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: $backgroundColor;

    .signup__title-and-logo {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 30px;
    }

    .signup__title-and-logo > img {
        width: 48px;
        height: 48px;
    }
}

.signup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    padding: 20px;
    border-radius: 5px;
    background-color: #fff;

    .signup-form__group {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }
}