@media screen and (max-width: 480px) {
    .signup__mobile-font24px {
        font-size: 24px;
    }

    .signup__mobile-font14px {
        font-size: 14px;
    }

    .signup__mobile-font12px {
        font-size: 12px;
    }
}