@import "../../styles/colors.scss";

.signup__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: $backgroundColor;

    .signup__title-and-logo {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 30px;
    }

    .signup__title-and-logo > img {
        width: 48px;
        height: 48px;
    }
}

.signup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    padding: 20px;
    border-radius: 5px;
    background-color: #fff;

    .signup-form__group {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }

    .google-button {
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        border-radius: 5px;
        padding: 10px 20px;
        font-size: 16px;
        margin-top: 20px;
        width: 100%;
        border: 1px solid #ccc;

        &:hover {
            background-color: darken(#ccc, 10%);
        }
    }

    .signup__login-button {
        text-decoration: none;
        color: $primaryColor;
        margin-left: 5px;
        font-weight: bold;

        &:hover {
            text-decoration: underline;
        }
    }
}